
.about {
  // .about__inner
  &__inner {
    display     : flex;
    align-items : flex-start;

    @media screen and (max-width : 992px) {
      display : block;
    }
  }

  // .about__img
  &__img {
    position     : relative;
    flex         : 0 0 auto;
    margin-right : 65px;

    @media screen and (max-width : 992px) {
      margin-right : 15px;
    }

    > img {
      width        : 100%;
    }

    &::after {
      content  : '';
      position : absolute;
      top      : 15px;
      right    : -15px;
      bottom   : - 15px;
      left     : 15px;
      border   : 4px solid #feb618;
    }
  }

  // .about__info
  &__info {
  }

  // .about__title
  &__title {
    font-size   : 24px;
    font-weight : bold;
    margin-top  : 15px;
    color       : #161616;
    line-height : 1.2083;

    @media screen and (max-width : 992px) {
      margin-top : 46px;
    }
  }

  // .about__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    color       : #454545;
  }
}
