.page-content {
  // .page-content__basket
  &__basket {


  }
}

.basket-page {
  // .basket-page__list
  text-align : left;

  // .basket-page__footer
  &__list {
    margin-top: 60px;
  }

  // .basket-page__form-title
  &__footer {
    margin-top : 60px;
  }

  // .basket-page__footer-inner
  &__form-title {
    font-size   : 24px;
    font-weight : bold;
    line-height : 1.2083;
    color       : #161616;
  }

  // .basket-page__information
  &__footer-inner {
    display     : flex;
    align-items : flex-start;
    margin-top  : 40px;
  }

  // .basket-page__form
  &__information {
    flex        : 0 0 350px;
    margin-left : 30px;
  }

  // .basket-page__form-title
  &__form {
    flex : 1 1 auto;
  }

}

.basket-list {
  // .basket-list__inner
  &__inner {
  }

  // .basket-list__item
  &__item {

  }

  // .basket-list__footer
  &__footer {


  }

  // .basket-list__btn
  &__btn {


  }
}


.item-basket-list {
  position        : relative;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  padding         : 30px 0;
  border-top      : 1px solid #f8f8f8;

  &:last-child {
    border-bottom : 1px solid #f8f8f8;
  }


  // .item-basket-list__wrapper
  &__wrapper {
    display       : flex;
    align-items   : center;
    min-width     : 380px;
    margin-right  : auto;
    padding-right : 15px;

  }


  // .item-basket-list__image
  &__image {
    flex         : 0 0 210px;
    width        : 210px;
    max-height   : 210px;
    margin-right : 40px;

  }

  // .item-basket-list__info
  &__info {


  }

  // .item-basket-list__name
  &__name {

    font-size       : 16px;
    font-weight     : 600;
    line-height     : 1.25;
    display         : block;
    margin-bottom   : 15px;
    text-decoration : none;
    color           : #000;


  }

  // .item-basket-list__props
  &__props {

  }

  // .item-basket-list__price
  &__price {
    font-size   : 15px;
    font-weight : bold;
    margin      : 0 auto;
    padding     : 0 15px;
    white-space : nowrap;
    color       : #54585d;


  }

  // .item-basket-list__price-total
  &__price-total {
    font-size   : 15px;
    font-weight : bold;
    margin      : 0 auto;
    padding     : 0 15px;
    white-space : nowrap;
    color       : #54585d;


  }

  // .item-basket-list__footer
  &__footer {
    flex         : 0 0 auto;
    margin-left  : auto;
    padding-left : 15px;


  }

  // .item-basket-list__delete
  &__delete {
    flex : 0 0 19px;
  }

  // .item-basket-list__qty
  &__qty {
    margin  : 0 auto;
    padding : 0 15px;


  }

}

.item-basket-list:first-child {

  @mixin basket-table-headers {

    font-weight : normal;
    font-style  : normal;
    position    : absolute;
    top         : -35px;
    display     : block;
    font-size   : 14px;
    line-height : 1.2142;
    color       : #9d9d9d;

  }


  // .item-basket-list__image
  .item-basket-list__image {
    &::before {
      content : 'Товар';
      @include basket-table-headers;

    }
  }

  // .item-basket-list__info
  .item-basket-list__info {


  }

  // .item-basket-list__qty
  .item-basket-list__qty {

    &::before {
      content : 'Количество';
      @include basket-table-headers;
    }
  }

  // .item-basket-list__price
  .item-basket-list__price {

    &::before {
      content : 'Цена';
      @include basket-table-headers;
    }

  }

  // .item-basket-list__price-total
  .item-basket-list__price-total {

    &::before {
      content : 'Стоимость';
      @include basket-table-headers;
    }
  }

}


.props-item-basket-list {
  // .props-item-basket-list__item
  &__item {
    margin-bottom : 6px;
  }
}

.prop-item-basket-list {
  font-size   : 14px;
  line-height : 1.2142;
  display     : block;


  // .prop-item-basket-list__name
  &__name {
    color : #9d9d9d;
  }

  // .prop-item-basket-list__value
  &__value {
    color : #161616;
  }
}

.prices-item-basket-list {
  // .prices-item-basket-list__price
  &__price {
  }
}

.qnt-block {
  display       : flex;
  align-items   : center;
  box-sizing    : border-box;
  width         : 100%;
  max-width     : 72px;
  padding       : 4px 10px;
  border        : 2px solid #d9d9d9;
  border-radius : 3px;


  // .qnt-block__btn
  &__btn {

    display         : flex;
    align-items     : center;
    flex            : 0 0 auto;
    justify-content : center;

    // .qnt-block__btn--minus
    &--minus {
    }

    // .qnt-block__btn--plus
    &--plus {
    }
  }

  // .qnt-block__field
  &__field {
    font-size   : 14px;
    font-weight : 500;
    line-height : 1.2142;
    text-align  : center;


    color       : #161616;

    & > input {
      width      : 100%;
      height     : 100%;
      text-align : center;
    }

  }
}
