.catalog {
  // .catalog__sidebar
  &__sidebar {

  }

  // .catalog__inner
  &__inner {
    display    : flex;
    margin-top : 40px;
  }

  // .catalog__sorting-block
  &__sorting-block {
    margin : 30px 0;
  }

  // .catalog__tag-filter-block
  &__tag-filter-block {
  }

  // .catalog__description
  &__description {
    margin-top    : 60px;
    margin-bottom : 80px;
  }
}


.item-product {
  position         : relative;
  padding          : 20px 20px;
  border           : 2px solid #f8f8f8;
  border-radius    : 5px;
  background-color : #fff;

  &:hover {
    z-index : 10;

    // .item-product:hover .item-product__material-prices
    .item-product__material-prices {
      display : block;
    }
  }

  // .item-product__stickers
  &__stickers {
    position : absolute;
    top      : 9px;
    right    : 9px;
  }

  // .item-product__image
  &__image {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-bottom   : 20px;
  }

  // .item-product__title
  &__title {
    font-size          : 16px;
    font-weight        : 600;
    line-height        : 1.25;
    display            : inline-block;
    display            : -webkit-box;
    overflow           : hidden;
    height             : 40px;
    text-decoration    : none;
    text-overflow      : ellipsis;
    color              : #161616;
    -webkit-line-clamp : 2;
    -webkit-box-orient : vertical;
  }

  // .item-product__prices
  &__prices {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    height          : 57px;
    margin-top      : 12px;
  }

  // .item-product__price
  &__price {
    font-size   : 22px;
    font-weight : 800;
    font-style  : normal;

    color       : #00cc52;

    > span {
      font-family : $secondaryFontFamily;
      color       : #000;

    }

    // .item-product__price--old
    &--old {
      font-size            : 18px;
      font-weight          : 500;
      line-height          : 1.2222;
      color                : #9d9d9d;
      text-decoration-line : line-through;
    }
  }

  // .item-product__actions
  &__actions {
    margin-top : 12px;
  }

  // .item-product__add
  &__add {
    width   : 100%;
    padding : 5px 15px;


    > svg {
      display        : inline-block;
      margin-right   : 5px;
      transition     : fill 0.3s;
      vertical-align : bottom;
      fill           : #fff;
    }

    &:active,
    &:focus,
    &:hover {

      > svg {
        fill : #00cc52;
      }
    }
  }

  // .item-product__material-prices
  &__material-prices {
    display : none;
  }
}

.stickers {
  // .stickers__item
  &__item {

  }
}

.item-sticker {
  // .item-sticker--new
  font-family : $secondaryFontFamily;
  font-size   : 16px;
  line-height : 22px;
  padding     : 3px 8px 1px;
  color       : #fff;


  &--new {
    background-color : #f20000;
  }

  &--sale {
    background-color : #00cc52;
  }
}

.material-prices {
  font-size        : 14px;
  line-height      : 1.2142;
  position         : absolute;
  width            : calc(100% + 3px);
  margin-left      : -22px;
  padding          : 25px 20px;
  color            : #161616;
  border           : 2px solid #f8f8f8;
  border-top       : none;
  border-radius    : 0 0 5px 5px;
  background-color : #fff;

  // .material-prices__row
  &__row {
    display         : flex;
    justify-content : space-between;
    margin-bottom   : 15px;

    &:last-child {
      margin-bottom : 0;
    }
  }

  // .material-prices__col
  &__col {
    font-family : $secondaryFontFamily;
    width       : 100%;
    max-width   : 90px;

    // .material-prices__col--header
    &--header {
      font-family : $mainFontFamily;
      font-weight : 600;
    }

    &:nth-child(2) {
      max-width : 80px;
    }
  }

  // .material-prices__icon
  &__icon {
    display        : inline-block;
    margin-right   : 8px;
    vertical-align : bottom;
  }
}

.product-list {

  // .product-list__inner
  &__inner {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0 -15px;
  }


  // .product-list__item
  &__item {
    flex      : 0 1 255px;;
    width     : 100%;
    max-width : 255px;
    margin    : 0 15px 30px;
  }
}


.categories {
  display   : flex;
  flex-wrap : wrap;
  margin    : 0 -15px;

  // .categories__item
  &__item {
    flex   : calc(100% / 4 - 30px);
    margin : 0 15px 30px;
  }
}

.item-category {
  position         : relative;
  display          : inline-block;
  height           : 175px;
  padding          : 25px 20px;
  text-decoration  : none;
  border-radius    : 10px;
  background-color : #f9f9f9;
  box-shadow       : 0 33px 80px rgba(120, 120, 120, 0.07), 0 4.13211px 10.0172px rgba(120, 120, 120, 0.035);

  // .item-category__title
  &__title {
    font-size   : 24px;
    font-weight : bold;
    line-height : 1.3881;
    position    : relative;
    z-index     : 1;
    color       : #161616;

  }

  // .item-category__image
  &__image {
    position : absolute;
    right    : 0;
    bottom   : 0;
  }
}


.sorting-block {
  // .sorting-block__inner
  &__inner {
    display : flex;
  }

  // .sorting-block__item
  &__item {
    font-size       : 14px;
    font-weight     : 500;
    line-height     : 1.2142;
    display         : flex;
    align-items     : center;
    margin-right    : 20px;
    text-decoration : none;
    color           : #161616;

    > svg {
      position    : relative;
      top         : 2px;
      margin-left : 5px;
      transform   : rotate(180deg);
    }

    // .sorting-block__item--active
    &--active {
      color : #00cc52;

      > svg {
        fill : #00cc52;
      }
    }

    // .sorting-block__item--desc
    &--desc {
      > svg {
        top       : 0;
        transform : rotate(0deg);
      }
    }
  }
}


.catalog-information {
  color : #161616;

  // .catalog-information__title
  &__title {
    font-size      : 16px;
    font-weight    : bold;
    line-height    : 1.25;
    display        : flex;
    text-transform : uppercase;

    > svg {
      margin-right : 10px;
    }
  }

  // .catalog-information__item
  &__item {
    font-size  : 14px;
    margin-top : 20px;


    &:last-child {
      margin-bottom : 0;
    }
  }
}


.tag-filter-block {
  font-size   : 14px;
  line-height : 1.2142;

  // .tag-filter-block__title
  &__title {
    font-weight  : bold;
    display      : inline-block;
    margin-right : 15px;
  }

  // .tag-filter-block__item
  &__item {
    display          : inline-block;
    margin-right     : 5px;
    margin-bottom    : 8px;
    padding          : 4px 10px;
    cursor           : pointer;
    text-decoration  : none;
    color            : #161616;
    border-radius    : 4px;
    background-color : rgba(20, 204, 0, 0.2);
  }
}


.catalog-description {
  // .catalog-description__title
  &__title {
    font-size   : 24px;
    font-weight : bold;
    line-height : 1.2083;
    color       : #161616;
  }

  // .catalog-description__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    line-height : 1.6;
    margin-top  : 30px;
    color       : #454545;
  }
}


.submenu-catalog-sidebar {
  display      : none;
  padding-left : 15px;

  // .submenu-catalog-sidebar__item
  &__item {
  }

  // .submenu-catalog-sidebar__link
  &__link {
    font-size       : 16px;
    line-height     : 1.25;
    text-decoration : none;
    color           : #161616;

    &.current,
    &:active,
    &:hover {
      color : #00cc52;
    }
  }
}

.menu-sidebar__btn--open + .submenu-catalog-sidebar {
  display : block;
}
