.form {
  position         : relative;
  padding          : 50px;
  border-radius    : 10px;
  background-color : #f8f8f8;

  // .form-contacts
  &--contacts {
    padding : 0;
  }

  // .form__close
  &__close {
    position : absolute;
    top      : 20px;
    right    : 20px;
  }

  // .form__inner
  &__inner {
  }

  // .form__title
  &__title {
    font-size   : 30px;
    font-weight : 800;
    line-height : 1.2333;
    text-align  : center;
    color       : #161616;
  }

  // .form__fields
  &__fields {
    margin-top : 30px;
  }

  // .form__field
  &__field {
    margin-bottom : 22px;
  }

  // .form-close__description
  &__description {

    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    line-height : 1.6;
    margin-top  : 10px;
    text-align  : center;
    color       : #454545;
  }

  // .form-close__messages
  &__messages {
    margin : 15px auto;
  }

  // .form__actions
  &__actions {
    display         : flex;
    justify-content : center;

    // .form__actions--left
    &--left {
      justify-content : flex-start;
    }
  }
}

.form-close {

}

.item-field {
  // .item-field--captcha
  &--captcha {
  }

  // .item-field--agree
  &--agree {
    font-family : 'Lato', sans-serif;
    font-size   : 12px;
    line-height : 1.6;
    margin-top  : 14px;
    color       : #152a3d;

    a {
      color : inherit;
    }
  }

  // .item-field__label
  &__label {

    // .item-field__label--checkbox
    &--checkbox {
      cursor : pointer;
    }
  }

  // .item-field__title
  &__title {
    font-family   : 'Lato', sans-serif;
    font-size     : 16px;
    font-weight   : 500;
    font-style    : normal;
    line-height   : 1.1875;
    display       : block;
    margin-bottom : 11px;

    /* Paragraph Color */

    color         : #454545;

    // .item-field__name--checkbox
    &--checkbox {
      display : inline-block;
    }
  }

  // .item-field__field
  &__field {


    // .item-field__field--text
    &--text {
      width            : 100%;
      padding          : 14px 25px 15px;
      border           : 2px solid #ccc;
      border-radius    : 3px;
      background-color : #fff;
    }

    // .item-field__field--textarea
    &--textarea {
      width            : 100%;
      min-height       : 200px;
      padding          : 14px 25px 15px;
      border           : 2px solid #ccc;
      border-radius    : 3px;
      background-color : #fff;
    }


    // .item-field__field--checkbox
    &--checkbox {
      position : absolute !important;
      overflow : hidden;
      clip     : rect(1px, 1px, 1px, 1px);
      clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
      width    : 1px !important;
      height   : 1px !important;
      padding  : 0 !important;
      border   : 0 !important;


      // .item-field__field--checkbox::checked + span
      & + span {
        display          : inline-block;
        width            : 12px;
        height           : 12px;
        margin-right     : 7px;
        cursor           : pointer;
        vertical-align   : -1px;
        border           : 1px solid #a6a6a6;
        border-radius    : 2px;
        background-color : #f8f8f8;
      }

      // .item-field__field--checkbox::checked + span
      &:checked + span {
        background-image    : url(../../img/svg/tick.svg);
        background-repeat   : no-repeat;
        background-position : center;

      }


    }
  }


}


.form-messages {
  width            : 100%;
  max-width        : 380px;
  padding          : 25px 30px 35px;
  text-align       : center;
  border           : 2px solid #00cc52;
  border-radius    : 10px;
  background-color : #fff;

  // .form-messages__icon
  &__icon {
    display : inline-block;
  }

  // .form-messages__text
  &__text {
    font-size   : 18px;
    font-weight : 500;
    line-height : 1.2222;
    margin-top  : 15px;

    color       : #454545;
  }
}

.popup-form {
  max-width : 440px;
}
