.main-page {

  // .main-page__slider
  &__slider {
    margin-top : 20px;
  }

  // .main-page__collections
  &__collections {
    margin-top : 65px;
  }

  // .main-page__popular-categories
  &__popular-categories {
    margin-top : 45px;
  }

  // .main-page__hits
  &__hits {
    margin-top : 45px;
  }

  // .main-page__advantages
  &__advantages {
    width       : 100vw;
    margin-top  : 80px;
    margin-left : calc((100vw - #{$contentWidth}) / -2);
  }

  // .main-page__about
  &__about {
    margin-top : 80px;
  }

  // .main-page__works
  &__works {
    width       : 100vw;
    margin-top  : 45px;
    margin-left : calc((100vw - #{$contentWidth}) / -2);
  }

  // .main-page__banner
  &__banner {
    margin-top : 80px;
  }

  // .main-page__new
  &__new {
    margin-top : 45px;
  }

  // .main-page__reviews
  &__reviews {
    margin-top : 65px;
  }

  // .main-page__questions-form
  &__questions-form {
    width       : 100vw;
    margin-left : calc((100vw - #{$contentWidth}) / -2);
  }


}

.collections-block {


  // .collections-block__title
  &__title {
  }

  // .collections-block__inner
  &__inner {
    display               : grid;
    grid-template-columns : repeat(4, 1fr);
    gap                   : 24px;
    grid-auto-flow        : dense;
  }

  // .collections-block__item
  &__item {
    &:nth-child(1) {
      grid-column : 1 / 3;
      grid-row    : 1 / 3;
    }

    &:nth-child(2) {
      grid-column : 3 / 4;
      grid-row    : 1 / 2;
    }

    &:nth-child(3) {
      grid-column : 4 / 5;
      grid-row    : 1 / 2;
    }
  }

  // .collections-block__more
  &__more {
    font-size            : 18px;
    font-weight          : 600;
    line-height          : 1.2222;
    position             : relative;
    left                 : 50%;
    display              : inline-flex;
    align-items          : center;
    margin-top           : 30px;
    transform            : translateX(-50%);
    color                : #161616;
    text-decoration-line : underline;


    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    svg {
      margin-right : 10px;
    }
  }
}


.item-collection {
  position : relative;
  overflow : hidden;

  // .item-collection--big
  &--big {
  }

  // .item-collection__title
  &__title {
    font-size        : 22px;
    font-weight      : 800;
    line-height      : 1.2227;
    position         : absolute;
    z-index          : 1;
    top              : 10px;
    left             : 0;
    overflow         : hidden;
    padding          : 4px 20px 4px;
    color            : #fff;
    border-radius    : 0 3px 3px 0;
    background-color : rgba(0, 204, 82, 0.9);


    // .item-collection__title--big
    &--big {
      font-size : 32px;
      top       : 25px;
      padding   : 4px 30px 7px;
    }
  }

  // .item-collection__image
  &__image {
    transition : transform 0.3s;

    &:hover {
      transform : scale(1.1)
    }
  }
}


.popular-categories-block {
  // .popular-categories-block__title
  &__title {

  }

  // .popular-categories-block__inner
  &__inner {
  }

  // .popular-categories-block__item
  &__item {
  }

  // .popular-categories-block__more
  &__more {
    font-size            : 18px;
    font-weight          : 600;
    line-height          : 1.2222;
    position             : relative;
    left                 : 50%;
    display              : inline-flex;
    align-items          : center;
    margin-top           : 10px;
    transform            : translateX(-50%);
    color                : #161616;
    text-decoration-line : underline;


    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    svg {
      margin-right : 10px;
    }
  }
}


.hits-block {
  // .hits-block__title
  &__title {
  }

  // .hits-block__inner
  &__inner {
  }

  // .hits-block__item
  &__item {
  }
}


.advantages-block {
  background-color : #00cc52;


  // .advantages-block__inner
  &__inner {
    display         : flex;
    align-items     : flex-end;
    justify-content : space-around;
    max-width       : 1070px;
    margin          : 0 auto;
    padding         : 30px 0;
  }

  // .advantages-block__item
  &__item {
  }
}

.item-advantage {
  text-align : center;


  // .item-advantage__icon
  &__icon {
    display : inline-block;

  }

  // .item-advantage__text
  &__text {
    font-size   : 14px;
    font-weight : 600;
    margin-top  : 12px;
    color       : #fff;
  }
}


.about-block {
  // .about-block__inner
  &__inner {
    display : flex;
  }

  // .about-block__img
  &__img {
    position     : relative;
    flex         : 0 0 auto;
    margin-right : 55px;

    &::after {
      content  : '';
      position : absolute;
      top      : 15px;
      right    : -15px;
      bottom   : - 15px;
      left     : 15px;
      border   : 4px solid #feb618;
    }
  }

  // .about-block__info
  &__info {
  }

  // .about-block__title
  &__title {
    font-size   : 24px;
    font-weight : bold;
    color       : #161616;
  }

  // .about-block__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    color       : #454545;
  }
}


.works-block {
  // .works-block__inner
  &__inner {
    display         : flex;
    justify-content : center;
    margin-top      : 40px;
  }

  // .works-block__item
  &__item {
    overflow : hidden;


    > img {
      display    : block;
      width      : 100%;
      transition : transform .3s;
    }

    &:hover {
      > img {
        transform : scale(1.1);
      }
    }
  }

  // .works-block__more
  &__more {
    font-size            : 18px;
    font-weight          : 600;
    line-height          : 1.2222;
    position             : relative;
    display              : flex;
    align-items          : center;
    width                : 170px;
    margin               : -15px auto 0;
    color                : #161616;
    text-decoration-line : underline;


    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    svg {
      margin-right : 10px;
    }
  }
}

.reviews-block {
  // .reviews-block__title
  &__title {
  }
}


.main-slider {
  position    : relative;
  width       : 1360px;
  margin-left : calc((1360px - #{$contentWidth}) / -2);

  // .main-slider__container
  &__container {
    position : relative;
  }

  // .main-slider__wrapper
  &__wrapper {
  }

  // .main-slider__slide
  &__slide {
  }

  // .main-slider__pagination
  &__pagination {
    bottom : -30px;
  }

  // .main-slider__btn
  &__btn {
    // .main-slider__btn--prev
    &--prev {
      left          : 0;
      border-radius : 0 5px 5px 0;
    }

    // .main-slider__btn--next
    &--next {
      right         : 0;
      border-radius : 5px 0 0 5px;
    }
  }
}


.reviews-block {
  // .reviews-block__title
  &__title {
  }

  // .reviews-block__inner
  &__inner {
    position : relative;
  }

  // .reviews-block__item
  &__item {
  }

  // .reviews-block__more
  &__more {
    font-size            : 18px;
    font-weight          : 600;
    line-height          : 1.2222;
    position             : relative;
    left                 : 50%;
    display              : inline-flex;
    align-items          : center;
    margin-top           : 30px;
    transform            : translateX(-50%);
    color                : #161616;
    text-decoration-line : underline;


    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    svg {
      margin-right : 10px;
    }
  }
}

.item-review {
  // .item-review__header
  &__header {
  }

  // .item-review__product
  &__product {
  }

  // .item-review__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    margin-top  : 38px;
    color       : #454545;
  }

  // .item-review__author
  &__author {
    font-size   : 14px;
    font-weight : 600;
    line-height : 1.2142;
    display     : flex;
    align-items : center;
    margin-top  : 15px;
    color       : #161616;

    > svg {
      margin-right : 8px;
    }
  }
}

.item-product-review {
  display         : flex;
  text-decoration : none;

  // .item-product-review__image
  &__image {
    max-width    : 150px;
    margin-right : 20px;
  }

  // .item-product-review__add
  &__add {
  }

  // .item-product-review__title
  &__title {
    font-size   : 14px;
    font-weight : 600;
    line-height : 1.2142;
    color       : #161616;

  }

  // .item-product-review__prices
  &__prices {
    margin-top : 15px;
  }

  // .item-product-review__price
  &__price {
    font-size   : 22px;
    font-weight : 800;
    font-style  : normal;
    color       : #00cc52;

    > span {
      font-family : $secondaryFontFamily;
      color       : #000;
    }

    // .item-product-review__price--old
    &--old {
      font-size            : 18px;
      font-weight          : 500;
      line-height          : 1.2222;
      color                : #9d9d9d;
      text-decoration-line : line-through;

    }
  }
}


.questions-form-block {
  background-color    : #00cc52;
  background-image    : url(../../img/svg/questions-form.svg);
  background-repeat   : no-repeat;
  background-position : right bottom;


  // .questions-form-block__inner
  &__inner {
    display     : flex;
    align-items : center;
    max-width   : $contentWidth;
    margin      : 0 auto;
    padding     : 35px 0;

  }

  // .questions-form-block__info
  &__info {
    max-width    : 400px;
    margin-right : 150px;
  }

  // .questions-form-block__title
  &__title {
    font-size   : 30px;
    font-weight : bold;
    line-height : 1.2333;
    color       : #fff;
  }

  // .questions-form-block__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    color       : rgba(255, 255, 255, 0.95);


  }

  // .questions-form-block__form
  &__form {
  }
}

.questions-form {

  // .questions-form__inner
  &__inner {
    display : flex;
  }

  // .questions-form__field
  &__field {
    font-size        : 14px;
    font-weight      : 600;
    line-height      : 1.2142;
    min-width        : 280px;
    padding          : 11px 15px 12px;
    border-radius    : 3px;
    background-color : #f8f8f8;

  }

  // .questions-form__btn
  &__btn {
    font-size     : 14px;
    font-weight   : bold;
    line-height   : 1.2142;
    margin-left   : 15px;
    padding       : 11px 15px 12px;
    color         : #fff;
    border-radius : 5px;
    background    : #feb618;
  }

  // .questions-form__agree
  &__agree {

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity : 1; /* Firefox */
    color   : #9d9d9d;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color : #9d9d9d;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color : #9d9d9d;
  }
}
