.materials {
  // .materials__inner
  &__inner {
  }

  // .materials__sidebar
  &__sidebar {
  }

  // .materials__content
  &__content {
  }
}

.materials-block {
  margin-bottom : 50px;

  // .materials-block__title
  &__title {
    font-size     : 26px;
    font-weight   : bold;
    line-height   : 1.2307;
    margin        : 20px 0 25px;
    padding       : 0 0 15px;
    color         : #161616;
    border-bottom : 1px solid #f1f1f1;


  }

  // .materials-block__inner
  &__inner {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0 -15px;

    @media screen and (max-width : 767px) {
      margin    : 0 -5px;
    }
  }

  // .materials-block__item
  &__item {
    flex   : 0 0 calc(100% / 3 - 30px);
    margin : 0 15px 30px;


    @media screen and (max-width : 1139px) {
      flex : 0 0 calc(100% / 2 - 30px);
    }

    @media screen and (max-width : 767px) {
      flex   : 0 0 calc(100% / 2 - 10px);
      margin : 0 0 20px;
    }

    @media screen and (max-width : 767px) {
      flex   : 1 1 auto;
      margin : 0 5px 20px;
    }

    img {
      width : 100%;
    }
  }
  // .materials-block__more
  &__more {
    font-size            : 18px;
    font-weight          : 600;
    line-height          : 1.2222;
    position             : relative;
    left                 : 100%;
    display              : inline-flex;
    align-items          : center;
    margin-top           : 10px;
    transform            : translateX(-100%);
    color                : #161616;
    text-decoration-line : underline;


    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    svg {
      margin-right : 10px;
    }
  }
}

.item-material {
  font-size   : 16px;
  font-weight : 500;
  line-height : 1.25;
  text-align  : center;
  color       : #161616;

  // .item-material__image
  &__image {
    display       : block;
    margin-bottom : 15px;
  }

  // .item-material__title
  &__title {
    font-weight : 700;
  }

  // .item-material__price
  &__price {
  }
}
