.materials {
  // .materials__inner
  &__inner {
  }

  // .materials__sidebar
  &__sidebar {
  }

  // .materials__content
  &__content {
  }
}

.materials-block {
  // .materials-block__title
  &__title {
    font-size     : 26px;
    font-weight   : bold;
    line-height   : 1.2307;
    margin        : 20px 0 25px;
    padding       : 0 0 15px;
    color         : #161616;
    border-bottom : 1px solid #f1f1f1;


  }

  // .materials-block__inner
  &__inner {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0 -15px;
  }

  // .materials-block__item
  &__item {
    margin : 0 15px 30px;
    flex : 0 0 calc(100% / 3 - 30px);
  }
}

.item-material {
  font-size   : 16px;
  font-weight : 500;
  line-height : 1.25;
  text-align  : center;
  color       : #161616;

  // .item-material__image
  &__image {
    display       : block;
    margin-bottom : 15px;
  }

  // .item-material__title
  &__title {
    font-weight : 700;
  }

  // .item-material__price
  &__price {
  }
}
