.product {
  // .product__order-delivery
  &__order-delivery {
    margin-top : 80px;
  }

  // .product__tabs
  &__tabs {
  }

  // .product__buy-with
  &__buy-with {
    margin-top : 80px;
  }

  // .product__viewed
  &__viewed {
    margin-top : 80px;
  }

}

.order-delivery-product {
  // .order-delivery-product__title
  &__title {

    font-size   : 30px;
    font-weight : 800;
    line-height : 1.2333;
    text-align  : center;

    color       : #161616;
  }

  // .order-delivery-product__inner
  &__inner {
    display : flex;
    margin  : 50px -10px 0;
    padding : 0 15px 0;
  }

  // .order-delivery-product__item
  &__item {
    flex   : 1 1 calc(100% / 4 - 10px);
    margin : 15px 10px 28px;
  }
}

.item-order-delivery {
  // .item-order-delivery__image
  &__image {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 170px;
  }

  // .item-order-delivery__title
  &__title {

    font-size   : 16px;
    font-weight : 600;
    line-height : 1.6;
    margin-top  : 20px;
    text-align  : center;
    color       : #161616;
  }
}


.product {
  // .product__inner
  &__inner {
    display : flex;
  }

  // .product__images
  &__images {
    flex      : 0 0 538px;
    max-width : 538px;
  }

  // .product__info
  &__info {
    flex        : 0 0 540px;
    margin-left : 30px;
  }

  // .product__footer
  &__footer {
    margin-top : 60px;
  }
}

.images-product-wrapper {
}

.images-product-thumbs {
  position      : relative;
  margin-top    : 20px;
  padding-right : 50px;
  padding-left  : 50px;

  // .images-product-thumbs__container
  &__container {
  }

  // .images-product-thumbs__wrapper
  &__wrapper {
  }

  // .images-product-thumbs__slide
  &__slide {

    img {
      max-width : 100%;
    }
  }

  // .images-product-thumbs__btn
  &__btn {
    top        : 50%;
    margin-top : -18px;

    // .images-product-thumbs__btn--prev
    &--prev {
      left : 0;
    }

    // .images-product-thumbs__btn--next
    &--next {
      right : 0;
    }
  }
}


.images-product {
  // .images-product__container
  &__container {
  }

  // .images-product__wrapper
  &__wrapper {
  }

  // .images-product__slide
  &__slide {
  }
}

.info-product {

  // .info-product__header
  &__header {
    display : flex;

  }

  // .info-product__add-to-favorite
  &__add-to-favorite {
    flex-shrink : 0;
    margin-left : 15px;
  }

  // .info-product__title
  &__title {
    font-size   : 24px;
    line-height : 1.2083;
  }

  // .info-product__props
  &__props {
  }

  // .info-product__params
  &__params {
  }

  // .info-product__prices
  &__prices {
  }

  // .info-product__actions
  &__actions {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : 15px;
  }

  // .info-product__add-to-cart
  &__add-to-cart {
    font-size       : 24px;
    font-weight     : bold;
    line-height     : 1.2083;
    display         : flex;


    align-items     : center;
    justify-content : center;
    width           : 100%;


    > svg {
      margin-right : 10px;
    }
  }

  // .info-product__one-click
  &__one-click {
    flex       : 1 1 calc(50% - 15px);
    margin-top : 15px;
  }

  // .info-product__own-sizes
  &__own-sizes {
    flex        : 1 1 calc(50% - 15px);
    margin-top  : 15px;
    margin-left : 30px;
  }

  // .info-product__props
  &__props {
  }

  // .info-product__characteristics
  &__characteristics {
  }

  // .info-product__delivery
  &__delivery {
  }

  // .info-product__reviews
  &__reviews {
  }
}


.props-product {
  font-size   : 14px;
  line-height : 1.2142;
  display     : flex;
  flex-wrap   : wrap;
  margin      : 30px -15px 0;


  // .props-product__item
  &__item {
    position : relative;
    flex     : 0 0 calc(100% / 2 - 30px);
    margin   : 0 15px 20px;
    cursor   : pointer;

  }

  // .props-product__title
  &__title {
    font-weight : 500;
  }

  // .props-product__field
  &__field {
    position         : relative;
    display          : flex;
    align-items      : center;
    height           : 40px;
    margin-top       : 10px;
    padding          : 6px 30px 6px 10px;
    border-radius    : 10px;
    background-color : #f8f8f8;

    // .props-product__field--open
    &--open {
      border-radius : 10px 10px 0 0;
      box-shadow    : 1px 4px 3px -2px black;
    }

    &::after {
      content          : '';
      position         : absolute;
      top              : 18px;
      right            : 10px;
      display          : block;
      width            : 14px;
      height           : 8px;
      background-image : url(../../img/svg/props-product-arrow.svg);

    }
  }

  // .props-product__icon
  &__icon {
    width               : 28px;
    height              : 28px;
    margin-right        : 10px;
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : auto;

    > img {
      display    : inline-block;
      max-width  : 100%;
      max-height : 100%;
    }
  }

  // .props-product__name
  &__name {
    font-size   : 13px;
    line-height : 1.2307;
  }

  // .props-product__price
  &__price {
    font-weight : 500;
    margin-left : auto;
  }

  // .props-product__list
  &__list {
    width : 100%;
  }
}

.props-product__field--open + .list-props-product {
  z-index : 1;
  display : block;
}

.list-props-product {
  position         : absolute;
  top              : 100%;
  display          : none;
  margin-top       : 0;
  padding          : 6px 10px 6px 10px;
  border-top       : 1px solid #d8d8d8;
  border-radius    : 0 0 10px 10px;
  background-color : #f8f8f8;
  box-shadow       : 1px 1px 3px -2px black;


  // .list-props-product__item
  &__item {
    display     : flex;
    align-items : center;
    margin      : 2px 0;
  }

  // .list-props-product__icon
  &__icon {
    width               : 28px;
    height              : 28px;
    margin-right        : 10px;
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : auto;

    > img {
      display    : inline-block;
      max-width  : 100%;
      max-height : 100%;
    }
  }

  // .list-props-product__name
  &__name {
    font-size   : 13px;
    line-height : 1.2307;
  }

  // .list-props-product__price
  &__price {
    font-weight : 500;
    margin-left : auto;
  }
}


.item-param {
  // .item-param__name
  &__name {
  }

  // .item-param__value
  &__value {
  }
}

.prices-product {
  display     : flex;
  align-items : center;

  // .prices-product__price
  &__price {
  }
}


.price-product {
  // .price-product--old
  &--old {
    margin-left : 30px;
  }

  // .price-product__save-price
  &__save-price {
    font-size            : 14px;
    font-weight          : 600;
    line-height          : 1.2142;
    color                : #00cc52;
    text-decoration-line : underline;

    &:active,
    &:hover,
    &:focus {
      text-decoration : none;
    }
  }

  // .price-product__discount-title
  &__discount-title {
    font-size   : 14px;
    font-weight : 500;
    line-height : 1.2142;


    color       : #9d9d9d;
  }

  // .price-product__price
  &__price {

    font-size   : 40px;
    font-weight : 800;
    line-height : 1.225;
    color       : #161616;

    // .price-product__price--old
    &--old {
      font-size            : 26px;
      font-weight          : 500;
      line-height          : 1.2307;
      margin-top           : 10px;
      color                : #9d9d9d;
      text-decoration-line : line-through;
    }
  }
}


/////////////////////////
.tabs-product {
  // .tabs__header
  &__header {
    display : flex;
  }

  // .tabs__tab
  &__tab {
    font-size    : 24px;
    font-weight  : bold;
    line-height  : 1.2083;
    position     : relative;
    margin-right : 50px;
    cursor       : pointer;
    color        : #161616;

    // .tabs__tab.active
    &.active {

      &::after {
        content          : '';
        position         : absolute;
        bottom           : -3px;
        display          : block;
        width            : 100%;
        height           : 3px;
        border-radius    : 1px;
        background-color : #00cc52;

      }
    }


  }

  // .tabs__contents
  &__contents {
    margin-top : 43px;
  }

  // .tabs__content
  &__content {
  }
}

/////////////////////////


.characteristics-product {
  display   : flex;
  flex-wrap : wrap;

  // .characteristics-product__item
  &__item {
    flex : 1 1 30%;
  }
}

.item-characteristics {
  font-family : 'Lato', sans-serif;
  font-size   : 16px;
  line-height : 1.6;
  color       : #454545;

  // .item-characteristics__title
  &__title {
    font-weight : 600;
    line-height : 1.25;
    color       : #161616;
  }

  // .item-characteristics__items
  &__items {

    margin-top : 6px;
  }
}


.delivery-product {
  // .delivery-product__item
  &__item {
    margin-bottom : 35px;

    &:last-child {
      margin-bottom : 0;
    }
  }
}

.item-delivery-product {
  // .item-delivery-product__inner
  &__inner {
    display     : flex;
    align-items : flex-start;
  }

  // .item-delivery-product__image
  &__image {
    flex         : 0 0 auto;
    margin-right : 30px;
  }

  // .item-delivery-product__text
  &__text {

    p {
      margin : 30px 0;
    }

    ul {
      margin : 5px 0;

      li {
        margin : 5px 0;
      }
    }
  }
}


.reviews-product {
  // .reviews-product__inner
  &__inner {
    display : flex;
  }

  // .reviews-product__items
  &__items {
    flex         : 1 1 635px;
    margin-right : 25px;
  }

  // .reviews-product__item
  &__item {

    &:not(:last-child) {
      margin-bottom  : 20px;
      padding-bottom : 20px;
      border-bottom  : 1px solid #81e7aa;
    }
  }

  // .reviews-product__form
  &__form {
    flex : 0 1 450px;
  }
}

.item-review-product {
  // .item-review-product__header
  &__header {
  }

  // .item-review-product__author
  &__author {
    font-size   : 14px;
    font-weight : 600;
    line-height : 1.2142;
    display     : flex;
    align-items : center;
    color       : #161616;

    > svg {
      flex-shrink  : 0;
      margin-right : 8px;
    }
  }

  // .item-review-product__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    line-height : 1.6;
    margin-top  : 15px;
    color       : #454545;
  }
}

.form-review {
}

.item-field {
  // .item-field--captcha
  &--captcha {
  }

  // .item-field__label
  &__label {
  }

  // .item-field__title
  &__title {
  }

  // .item-field__field
  &__field {
    // .item-field__field--text
    &--text {
    }

    // .item-field__field--textarea
    &--textarea {
    }
  }
}

