button {
  margin           : 0;
  padding          : 0;
  cursor           : pointer;
  border           : none;
  outline          : none;
  background-color : transparent;

}


.btn--clear {
  line-height     : inherit;
  display         : inline-block;
  margin          : 0;
  padding         : 0;
  cursor          : pointer;
  text-decoration : none;
  border          : none;
  outline         : none;
  background      : none;

}

.btn {
  font-size       : 14px;
  font-weight     : bold;
  font-style      : normal;
  line-height     : 1.2142;
  padding         : 10px 15px;
  cursor : pointer;
  transition      : all 0.3s;
  text-align      : center;
  text-decoration : none;
  color           : #00cc52;
  border          : 1px solid #00cc52;
  border-radius   : 3px;


  &:hover,
  &:active,
  &:focus {
    color            : #fff;
    background-color : #00cc52;

  }

  &:active {
  }


  &--fill {
    color : #fff;
  }

  &--green {
    background-color : #00cc52;

    &:hover,
    &:active,
    &:focus {
      color            : #00cc52;
      background-color : transparent;

    }
  }

}
