.footer {
  font-size        : 14px;
  padding          : 50px 0;
  color            : #fff;
  background-color : #00bc4b;

  // .footer_container
  &__container {
    @media screen and (max-width : 1139px) {
      display   : flex;
      flex-wrap : wrap;

    }
  }

  a {
    text-decoration : none;
    color           : #fff;
  }

  // .footer__main
  &__main {

    @media screen and (max-width : 1139px) {
      display         : flex;
      align-items     : flex-start;
      flex-grow       : 1;
      justify-content : space-between;
      order           : 0;
    }

    @media screen and (max-width : 767px) {
      flex-direction : column;
    }
  }

  // .footer__logo
  &__logo {

    @media screen and (max-width : 767px) {
      align-items : flex-start;
    }
  }

  // .footer__contacts
  &__contacts {
    margin-top : 30px;

    @media screen and (max-width : 1139px) {
      margin-top : 0;
    }

    @media screen and (max-width : 767px) {
      margin-top : 40px;
    }
  }

  // .footer__phones
  &__phones {
    margin-top : 30px;

    @media screen and (max-width : 1139px) {
      margin-top : 0;
    }

    @media screen and (max-width : 767px) {
      margin-top : 0;
    }
  }

  // .footer__mail
  &__mail {
    font-size   : 18px;
    font-weight : bold;
    line-height : 1.2222;
    display     : flex;
    align-items : center;
    margin-top  : 15px;
    color       : #fff;

    svg {
      margin-right : 8px;
    }
  }

  // .footer__dev
  &__dev {
    margin-top : 20px;

    @media screen and (max-width : 1139px) {
      display : none;
    }

    // .footer__dev--mobile
    &--mobile {

      @media screen and (min-width : 1140px) {
        display : none;
      }
      @media screen and (max-width : 1139px) {
        display : block;
      }
    }

    > a {
      font-weight : bold;

    }
  }

  // .footer__info
  &__info {
    @media screen and (max-width : 1139px) {
      order : 2;
    }
  }

  // .footer__oferta
  &__oferta {
    margin-top : 19px;

    @media screen and (max-width : 1139px) {
      margin-top : 40px;
    }

  }

  // .footer__copy
  &__copy {
    margin-top : 20px;
  }

  // .footer__menus
  &__menus {
    float       : right;
    max-width   : 680px;
    margin-top  : 20px;
    margin-left : 60px;

    @media screen and (max-width : 1139px) {
      float       : none;
      order       : 1;
      max-width   : none;
      margin-top  : 40px;
      margin-left : 0;
    }
  }

  // .footer__menu
  &__menu {
    margin-top : 25px;

    &:first-child {
      margin-top : 0;
    }
  }
}


.logo {
  // .logo__image
  &__image {
  }
}

.phones-footer {


  // .phones-footer__item
  &__item {
    font-size       : 18px;
    font-weight     : bold;
    line-height     : 1.2222;

    display         : flex;
    margin-top      : 9px;
    text-decoration : none;

    svg {
      margin-right : 8px;
    }

    &:first-child {
      margin-top : 0;
    }

    > span {
      color : #feb618;
    }
  }
}

.block-footer-menu {
  // .block-footer-menu__title
  &__title {
    font-size     : 16px;
    font-weight   : bold;
    line-height   : 1.25;
    margin-bottom : 20px;
  }

  // .block-footer-menu__menu
  &__menu {
  }
}

.footer-menu {
  display   : flex;
  flex-wrap : wrap;

  // .footer-menu__item
  &__item {
    display       : block;
    width         : calc(100% / 4);
    margin        : 0 0 15px 0;
    padding-right : 15px;

    @media screen and (max-width : 767px) {
      width : calc(100% / 2);
    }
  }

  // .footer-menu__link
  &__link {
  }
}

.footer-menu--catalog {
  .footer-menu__item {
    width : calc(100% / 3);

    @media screen and (max-width : 767px) {
      width : calc(100% / 2);
    }
  }
}

.footer-menu--customer {
  justify-content : space-between;

  .footer-menu__item {
    width : auto;
  }
}
