.sidebar {
  flex         : 0 0 255px;
  width        : 100%;
  max-width    : 255px;
  margin-right : 30px;

  // .sidebar__block
  &__block {
    margin-bottom    : 40px;
    padding          : 20px;
    border-radius    : 10px;
    background-color : #f8f8f8;
  }

  // .sidebar__information
  &__information {
    margin-top    : 15px;
    margin-bottom : 30px;
  }

  // .sidebar__title
  &__title {
    font-size     : 26px;
    font-weight   : bold;
    line-height   : 1.2307;
    margin        : 0 -10px;
    padding       : 0 10px 7px;
    color         : #161616;
    border-bottom : 1px solid #f1f1f1;

  }

  // .sidebar__catalog-menu
  &__catalog-menu {
    margin-top : 25px;
  }

  // .sidebar__menu
  &__menu {
  }
}


.menu-sidebar {
  // .menu-sidebar__item
  &__item {
    margin : 20px 0;

    &:last-child {
      margin-bottom : 0;
    }
  }

  // .menu-sidebar__link
  &__link {
    font-size       : 16px;
    font-weight     : 500;
    line-height     : 1.25;
    display         : flex;
    align-items     : center;
    text-decoration : none;
    color           : #161616;

    > svg {
      position    : relative;
      right       : -4px;
      flex-shrink : 0;
      margin-left : 12px;

    }

    // .menu-catalog-sidebar__link.current
    &.current,
    &:active,
    &:focus,
    &:hover {
      color : #00cc52;
    }


    // .menu-catalog-sidebar__link--sale
    &--sale {
      font-size      : 16px;
      font-weight    : 900;
      line-height    : 1.25;
      text-transform : uppercase;
      color          : #00cc52;
    }
  }
}
