<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>

<h1 class="page-content__title">Спальные комплекты</h1>
<div class="catalog">
  <div class="catalog__banner">
    <img src="../../uploads/catalog/banner.jpg"
         alt="">
  </div>
  <div class="catalog__inner">
    <aside class="catalog__sidebar sidebar">
      <div class="sidebar__block">
        <div class="sidebar__title">Каталог</div>
        <ul class="sidebar__catalog-menu menu-catalog-sidebar list--clear">
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Спальные комплекты</a>
            <ul class="menu-catalog-sidebar__submenu  submenu-catalog-sidebar list--clear">
              <li class="submenu-catalog-sidebar__item">
                <a href=""
                   class="submenu-catalog-sidebar__link">Серия Верди</a>
              </li>
              <li class="submenu-catalog-sidebar__item">
                <a href=""
                   class="submenu-catalog-sidebar__link">Серия Элбург</a>
              </li>
              <li class="submenu-catalog-sidebar__item">
                <a href=""
                   class="submenu-catalog-sidebar__link">Серия Паола</a>
              </li>
            </ul>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Гостинные</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Прихожие</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Столы и стулья</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Кровати</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Матрасы</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Спальные</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Комоды</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Тумбы</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link">Кухни</a>
          </li>
          <li class="menu-catalog-sidebar__item">
            <a href=""
               class="menu-catalog-sidebar__link menu-catalog-sidebar__link--sale">РАСПРОДАЖА</a>
          </li>
        </ul>
      </div>
      <div class="sidebar__block">
        <div class="sidebar__information catalog-information">
          <div class="catalog-information__title">
            <svg width="20"
                 height="20">
              <use xlink:href="img/spritemap.svg#sprite-catalog-information-1"></use>
            </svg>
            ДОСТАВКА:
          </div>
          <div class="catalog-information__item">
            Доставка в Москве до подъезда — <b>500 руб.</b>
          </div>
          <div class="catalog-information__item">
            За МКАД <b>+30 руб./км.</b>
          </div>
          <div class="catalog-information__item">
            По России - по тарифам транспортных компаний
          </div>
        </div>

        <div class="sidebar__information catalog-information">
          <div class="catalog-information__title">
            <svg width="20"
                 height="20">
              <use xlink:href="img/spritemap.svg#sprite-catalog-information-2"></use>
            </svg>
            ПОДЪЕМ:
          </div>
          <div class="catalog-information__item">
            1 этаж — <b>от 100 руб.</b> <br>
            <b>до 300 руб.</b> <br>
            Лифт — <b>350 руб.</b>
          </div>
        </div>

        <div class="sidebar__information catalog-information">
          <div class="catalog-information__title">
            <svg width="20"
                 height="20">
              <use xlink:href="img/spritemap.svg#sprite-catalog-information-3"></use>
            </svg>
            СБОРКА МЕБЕЛИ:
          </div>
          <div class="catalog-information__item">
            Односпальная кровать — <b>5%</b> от стоимости изделия
          </div>
          <div class="catalog-information__item">
            Полутороспальная кровать — <b>5%</b> от стоимости изделия.
          </div>
          <div class="catalog-information__item">
            Двуспальная кровать — <b>5%</b> от стоимости изделия
          </div>
          <div class="catalog-information__item">
            Двухъярусная кровать — <b>5%</b> от стоимости изделия.
          </div>
          <div class="catalog-information__item">
            Кровать с подъемным механизмом — <b>5% </b> от стоимости изделия.
          </div>
          <div class="catalog-information__item">
            Сборка шкафа — <b>10%</b> от стоимости изделия.
          </div>
          <div class="catalog-information__item">
            Комоды и тумбы доставляются <b>в собранном виде</b>.
          </div>
        </div>
      </div>

    </aside>
    <div class="catalog__content">
      <div class="catalog__tag-filter-block tag-filter-block">
        <div class="tag-filter-block__title">Часто ищут:</div>
        <div class="tag-filter-block__item">Из массива</div>
        <a href=""
           class="tag-filter-block__item">140x200</a>
        <a href=""
           class="tag-filter-block__item">180x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">Кровать двуспальная Лондон</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">200x200</a>
        <a href=""
           class="tag-filter-block__item">По популярности</a>
      </div>
      <div class="catalog__sorting-block sorting-block">
        <div class="sorting-block__inner">

          <a href=""
             class="sorting-block__item sorting-block__item--active">
            По цене
            <svg width="9"
                 height="11">
              <use xlink:href="img/spritemap.svg#sprite-sorting-down"></use>
            </svg>
          </a>
          <a href=""
             class="sorting-block__item sorting-block__item--desc">
            По популярности
            <svg width="9"
                 height="11">
              <use xlink:href="img/spritemap.svg#sprite-sorting-down"></use>
            </svg>
          </a>
          <a href=""
             class="sorting-block__item">
            По новизне
            <svg width="9"
                 height="11">
              <use xlink:href="img/spritemap.svg#sprite-sorting-down"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="catalog__list product-list">
        <div class="product-list__inner">
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
          <div class="product-list__item item-product">
            <div class="item-product__stickers stickers">
              <div class="stickers__item item-sticker item-sticker--new">NEW</div>
            </div>
            <a href=""
               class="item-product__image">
              <img src="uploads/products/1.png "
                   alt="">
            </a>
            <a href=""
               class="item-product__title">Кровать двуспальная Лондон</a>
            <div class="item-product__prices">
              <div class="item-product__price item-product__price--old">20 368 ₽</div>
              <div class="item-product__price"><span>от</span> 10 368 ₽</div>
            </div>
            <div class="item-product__actions">
              <button type="button"
                      class="btn btn--fill btn--green item-product__add">
                <svg width="18"
                     height="18">
                  <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                </svg>
                В корзину
              </button>
            </div>
            <footer class="item-product__material-prices material-prices">
              <div class="material-prices__row">
                <div class="material-prices__col material-prices__col--header">Материал</div>
                <div class="material-prices__col material-prices__col--header">Цена</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-1.png"
                       alt=""
                       class="material-prices__icon">
                  Сосна
                </div>
                <div class="material-prices__col">10 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-2.png"
                       alt=""
                       class="material-prices__icon">
                  Берёза
                </div>
                <div class="material-prices__col">15 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-3.png"
                       alt=""
                       class="material-prices__icon">
                  Бук
                </div>
                <div class="material-prices__col">20 368 ₽</div>
              </div>
              <div class="material-prices__row">
                <div class="material-prices__col">
                  <img src="img/catalog/wood-icon-4.png"
                       alt=""
                       class="material-prices__icon">
                  Дуб
                </div>
                <div class="material-prices__col">25 368 ₽</div>
              </div>
            </footer>
          </div>
        </div>


      </div>

      <%= _.template(require('./../includes/pagination.html').default)(data) %>

      <div class="catalog__description catalog-description">
        <div class="catalog-description__title">
          Спальные комплекты
        </div>
        <div class="catalog-description__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis. Donec arcu turpis, pellentesque eu porta eget, fermentum sagittis eros. Praesent id quam nec eros mollis tristique eu cursus nulla. Suspendisse potenti. Vivamus tincidunt ligula ex, vel auctor turpis ornare quis. Sed imperdiet interdum posuere.
          </p>
          <p>
            Cras id diam ac mauris vulputate finibus ut a nibh. Aliquam facilisis mauris ut tincidunt gravida. Praesent volutpat eros at elit imperdiet cursus. Quisque ac rhoncus tortor. Maecenas pulvinar pellentesque ligula vel dapibus.
          </p>
        </div>

      </div>


    </div>
  </div>

</div>
<section class="questions-form-block questions-form-block--wide">
  <div class="questions-form-block__inner">
    <div class="questions-form-block__info">
      <div class="questions-form-block__title">
        Остались вопросы?
      </div>
      <div class="questions-form-block__text">
        Воспользуйтесь формой заказа обратного звонка
        или задайте вопрос в чате нашему специалисту. Мы будем рады вам помочь!
      </div>
    </div>
    <div class="questions-form-block__form questions-form">
      <div class="questions-form__inner">
        <input type="text"
               placeholder="Ваш номер телефона"
               class="questions-form__field">
        <button type="button"
                class="questions-form__btn">Позвоните мне!
        </button>
      </div>
      <div class="questions-form__agree">
        Здесь согласие))) Взять из форм
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
