<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>

<h1 class="page-content__title">Спальные комплекты</h1>
<div class="catalog">
  <div class="catalog__banner">
    Здесь баннер
  </div>
  <aside class="catalog__sidebar sidebar">
    <div class="sidebar__block">
      <div class="sidebar__title">Каталог</div>
      <ul class="sidebar__catalog-menu menu-catalog-sidebar list--clear">
        <li class="menu-catalog-sidebar__item"></li>
      </ul>
    </div>
  </aside>
  <div class="catalog__content">
    <div class="catalog__sorting-block sorting-block">
      <div class="sorting-block__inner">

        <button class="sorting-block__item sorting-block__item--active">
          По цене
          <svg width="9"
               height="9"
               viewBox="0 0 8 9"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M3.64645 8.35355C3.84171 8.54882 4.15829 8.54882 4.35355 8.35355L7.53553 5.17157C7.7308 4.97631 7.7308 4.65973 7.53553 4.46447C7.34027 4.2692 7.02369 4.2692 6.82843 4.46447L4 7.29289L1.17157 4.46447C0.976311 4.2692 0.659728 4.2692 0.464466 4.46447C0.269204 4.65973 0.269204 4.97631 0.464466 5.17157L3.64645 8.35355ZM3.5 2.18557e-08L3.5 8L4.5 8L4.5 -2.18557e-08L3.5 2.18557e-08Z" />
          </svg>
        </button>
        <button class="sorting-block__item sorting-block__item--desc">
          По популярности
          <svg width="9"
               height="9"
               viewBox="0 0 8 9"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M3.64645 8.35355C3.84171 8.54882 4.15829 8.54882 4.35355 8.35355L7.53553 5.17157C7.7308 4.97631 7.7308 4.65973 7.53553 4.46447C7.34027 4.2692 7.02369 4.2692 6.82843 4.46447L4 7.29289L1.17157 4.46447C0.976311 4.2692 0.659728 4.2692 0.464466 4.46447C0.269204 4.65973 0.269204 4.97631 0.464466 5.17157L3.64645 8.35355ZM3.5 2.18557e-08L3.5 8L4.5 8L4.5 -2.18557e-08L3.5 2.18557e-08Z" />
          </svg>
        </button>
        <button class="sorting-block__item">
          По новизне
          <svg width="9"
               height="9"
               viewBox="0 0 8 9"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M3.64645 8.35355C3.84171 8.54882 4.15829 8.54882 4.35355 8.35355L7.53553 5.17157C7.7308 4.97631 7.7308 4.65973 7.53553 4.46447C7.34027 4.2692 7.02369 4.2692 6.82843 4.46447L4 7.29289L1.17157 4.46447C0.976311 4.2692 0.659728 4.2692 0.464466 4.46447C0.269204 4.65973 0.269204 4.97631 0.464466 5.17157L3.64645 8.35355ZM3.5 2.18557e-08L3.5 8L4.5 8L4.5 -2.18557e-08L3.5 2.18557e-08Z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="catalog__list product-list">
      <div class="product-list__inner">
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
        <div class="product-list__item item-product">
          <div class="item-product__stickers stickers">
            <div class="stickers__item item-sticker item-sticker--new">NEW</div>
          </div>
          <a href=""
             class="item-product__image">
            <img src="uploads/products/1.png "
                 alt="">
          </a>
          <a href=""
             class="item-product__title">Кровать двуспальная Лондон</a>
          <div class="item-product__prices">
            <div class="item-product__price item-product__price--old">20 368 ₽</div>
            <div class="item-product__price"><span>от</span> 10 368 ₽</div>
          </div>
          <div class="item-product__actions">
            <button type="button"
                    class="btn btn--fill btn--green item-product__add">
              <svg width="18"
                   height="18">
                <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
              </svg>
              В корзину
            </button>
          </div>
          <footer class="item-product__material-prices material-prices">
            <div class="material-prices__row">
              <div class="material-prices__col material-prices__col--header">Материал</div>
              <div class="material-prices__col material-prices__col--header">Цена</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-1.png"
                     alt=""
                     class="material-prices__icon">
                Сосна
              </div>
              <div class="material-prices__col">10 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-2.png"
                     alt=""
                     class="material-prices__icon">
                Берёза
              </div>
              <div class="material-prices__col">15 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-3.png"
                     alt=""
                     class="material-prices__icon">
                Бук
              </div>
              <div class="material-prices__col">20 368 ₽</div>
            </div>
            <div class="material-prices__row">
              <div class="material-prices__col">
                <img src="img/catalog/wood-icon-4.png"
                     alt=""
                     class="material-prices__icon">
                Дуб
              </div>
              <div class="material-prices__col">25 368 ₽</div>
            </div>
          </footer>
        </div>
      </div>


    </div>

    <%= _.template(require('./../includes/pagination.html').default)(data) %>
    <div class="catalog__description">

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis. Donec arcu turpis, pellentesque eu porta eget, fermentum sagittis eros. Praesent id quam nec eros mollis tristique eu cursus nulla. Suspendisse potenti. Vivamus tincidunt ligula ex, vel auctor turpis ornare quis. Sed imperdiet interdum posuere.
      </p>
      <p>
        Cras id diam ac mauris vulputate finibus ut a nibh. Aliquam facilisis mauris ut tincidunt gravida. Praesent volutpat eros at elit imperdiet cursus. Quisque ac rhoncus tortor. Maecenas pulvinar pellentesque ligula vel dapibus.
      </p>
    </div>


  </div>
</div>


<%= _.template(require('./../includes/footer.html'). default)(data) %>
