<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>


<div class="contacts">
  <div class="contacts__inner">
    <div class="contacts__map-block map-block">
      <div class="map-block__map">
        <script type="text/javascript"
                charset="utf-8"
                async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af5e6c2d0656fb993ec3ba7777c73439a4bb9624ce2de331050af651a0c6b1323&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="map-block__information contacts-information">
        <a href="tel:+79991234567" class="contacts-information__item">
          <svg width="24"
               height="24">
            <use xlink:href="img/spritemap.svg#sprite-contacts-information-icon-1"></use>
          </svg>
          8 (999) 123-45-67
        </a>
        <div class="contacts-information__item">
          <svg width="24"
               height="24">
            <use xlink:href="img/spritemap.svg#sprite-contacts-information-icon-2"></use>
          </svg>
          sample@mail.com
        </div>
        <div class="contacts-information__item">
          <svg width="24"
               height="24">
            <use xlink:href="img/spritemap.svg#sprite-contacts-information-icon-3"></use>
          </svg>
          г. Москва, <br>м. Дмитровская, <br>ул. Добролюбова, д. 1
        </div>
        <div class="contacts-information__text">
          Уважаемые покупатели, по данному адресу нет выставочного зала. Здесь находится офис компании
        </div>
      </div>
    </div>
    <div class="contacts__form-block contacts-form-block">
      <div class="contacts-form-block__inner">
        <div class="contacts-form-block__props props-contacts">
          <div class="props-contacts__title">Реквизиты</div>
          <div class="props-contacts__content">
            ООО «СпальниКровати» <br>
            <b>ОГРН:</b> 1163328051138 <br>
            <b> Юридический адрес:</b> 602257, Владимирская обл.,<br> г. Муром, ул.Мира д.52 <br>
            <b>ИНН / КПП:</b> 3307020877 / 330701001 <br>
            <b>Банковские реквизиты:</b> <br>
            р/с 40702810096250000085 в Московский филиал <br>ПАО РОСБАНК <br>
            к/с 30101810000000000272 <br>
            <b>БИК:</b> 044583272
          </div>
        </div>
        <div class="contacts-form-block__form contacts-form">
          <div class="contacts-form__title">
            Связаться с нами
          </div>
          <div class="contacts-form___content">
            <div class="form form--contacts">
              <form action="">
                <div class="form__inner">

                  <div class="form__fields">
                    <div class="form__field item-field">
                      <label class="item-field__label">
                        <span class="item-field__title">Имя *</span>
                        <input type="text"
                               class="item-field__field item-field__field--text">
                      </label>
                    </div>
                    <div class="form__field item-field">
                      <label class="item-field__label">
                        <span class="item-field__title">E-Mail *</span>
                        <input type="text"
                               class="item-field__field item-field__field--text">
                      </label>
                    </div>
                    <div class="form__field item-field">
                      <label class="item-field__label">
                        <span class="item-field__title">Сообщение *</span>
                        <textarea class="item-field__field item-field__field--textarea"></textarea>
                      </label>
                    </div>
                    <div class="form__field item-field item-field--captcha">
                      google recaptcha
                    </div>
                    <div class="form__field item-field item-field--agree">
                      <label class="item-field__label item-field__label--checkbox">
                        <input type="checkbox"
                               checked
                               class="item-field__field item-field__field--checkbox">
                        <span class="item-field__title item-field__title--checkbox">
                  Я согласен на обработку
                <a target="_blank"
                   rel="noopener noreferrer"
                   href="">персональных данных</a>
                </span>
                      </label>
                    </div>
                    <div class="form__actions form__actions--left">
                      <input type="submit"
                             value="Отправить"
                             class="form__action btn btn--fill btn--green">
                    </div>


                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>
<%= _.template(require('./../includes/questions-form-block.html'). default)(data) %>
<%= _.template(require('./../includes/footer.html').default)(data) %>
