<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
<h1 class="page-content__title">Спальные комплекты</h1>
<div class="forms-page">
  <div style="width: 400px">
    <div class="form">
      <form action="">
        <button class="form__close">
          <svg width="24"
               height="24">
            <use xlink:href="img/spritemap.svg#sprite-form-close"></use>
          </svg>
        </button>
        <div class="form__inner">
          <div class="form__title">Сохранить цену</div>
          <div class="form__description">
            Нет возможности купить сейчас? Не упустите выгодную цену! Оформите заказ с текущей скидкой и оплатите его в течение 30 дней
          </div>
          <div class="form__fields">
            <div class="form__field item-field">
              <label class="item-field__label">
                <span class="item-field__title">Ваше имя</span>
                <input type="text"
                       class="item-field__field item-field__field--text">
              </label>
            </div>
            <div class="form__field item-field">
              <label class="item-field__label">
                <span class="item-field__title">Телефон</span>
                <input type="text"
                       class="item-field__field item-field__field--text">
              </label>
            </div>
            <div class="form__field item-field">
              <label class="item-field__label">
                <span class="item-field__title">Сообщение</span>
                <textarea class="item-field__field item-field__field--textarea"></textarea>
              </label>
            </div>
            <div class="form__field item-field item-field--captcha">
              google recaptcha
            </div>
            <div class="form__field item-field item-field--agree">
              <label class="item-field__label item-field__label--checkbox">
                <input type="checkbox"
                       checked
                       class="item-field__field item-field__field--checkbox">
                <span class="item-field__title item-field__title--checkbox">
                  Я согласен на обработку
                <a target="_blank"
                   rel="noopener noreferrer"
                   href="">персональных данных</a>
                </span>
              </label>
            </div>
            <div class="form__actions">
              <input type="submit"
                     value="Отправить"
                     class="form__action btn btn--fill btn--green">
            </div>


          </div>
        </div>
      </form>
    </div>
  </div>

</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
