<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="main-page">
  <div class="main-page__slider main-slider">


    <div class="swiper-container main-slider__container">
      <div class="swiper-wrapper main-slider__wrapper">

        <div class="swiper-slide main-slider__slide">
          <img src="uploads/main-slider/1.jpg"
               alt="">
        </div>

        <div class="swiper-slide main-slider__slide">
          <img src="uploads/main-slider/1.jpg"
               alt="">
        </div>
      </div>

      <div class="swiper-button-prev main-slider__btn main-slider__btn--prev"></div>
      <div class="swiper-button-next main-slider__btn main-slider__btn--next"></div>
    </div>
    <div class="swiper-pagination main-slider__pagination"></div>
  </div>
  <section class="main-page__collections collections-block">
    <h2 class="block__title  collections-block__title">Коллекции</h2>
    <div class="collections-block__inner">
      <a href=""
         class="collections-block__item item-collection item-collection--big">
        <div class="item-collection__title item-collection__title--big">Серия Верди</div>
        <div class="item-collection__image">
          <img src="uploads/collections/1.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия Паола</div>
        <div class="item-collection__image">
          <img src="uploads/collections/2.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия Авиньон</div>
        <div class="item-collection__image">
          <img src="uploads/collections/3.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия Милана</div>
        <div class="item-collection__image">
          <img src="uploads/collections/4.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия Бали</div>
        <div class="item-collection__image">
          <img src="uploads/collections/5.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия OKAERI</div>
        <div class="item-collection__image">
          <img src="uploads/collections/6.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия LIRONA</div>
        <div class="item-collection__image">
          <img src="uploads/collections/7.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия LAURA</div>
        <div class="item-collection__image">
          <img src="uploads/collections/8.jpg"
               alt="">
        </div>
      </a>
      <a href=""
         class="collections-block__item item-collection item-collection">
        <div class="item-collection__title item-collection__title">Серия Мальта</div>
        <div class="item-collection__image">
          <img src="uploads/collections/9.jpg"
               alt="">
        </div>
      </a>
    </div>
    <a href=""
       class="collections-block__more">
      <svg
        width="22"
        height="22">
        <use xlink:href="img/spritemap.svg#sprite-collections-block-more"></use>
      </svg>
      Все коллекции ></a>
  </section>

  <section class="main-page__popular-categories popular-categories-block">
    <h2 class="block__title popular-categories-block__title">Популярные разделы</h2>


    <div class="popular-categories-block__inner categories">
      <a href=""
         class="popular-categories-block__item item-category categories__item">
        <div class="item-category__title">Кровати</div>
        <div class="item-category__image">
          <img src="uploads/categories/1.png"
               alt="">
        </div>
      </a>
      <a href=""
         class="popular-categories-block__item item-category categories__item">
        <div class="item-category__title">Шкафы</div>
        <div class="item-category__image">
          <img src="uploads/categories/2.png"
               alt="">
        </div>
      </a>
      <a href=""
         class="popular-categories-block__item item-category categories__item">
        <div class="item-category__title">Комоды</div>
        <div class="item-category__image">
          <img src="uploads/categories/3.png"
               alt="">
        </div>
      </a>
      <a href=""
         class="popular-categories-block__item item-category categories__item">
        <div class="item-category__title">Матрасы</div>
        <div class="item-category__image">
          <img src="uploads/categories/4.png"
               alt="">
        </div>
      </a>
    </div>
    <a href=""
       class="popular-categories-block__more">
      <svg class=""
           width="16"
           height="16">
        <use xlink:href="img/spritemap.svg#sprite-popular-categories"></use>
      </svg>
      Перейти в каталог ></a>
  </section>


  <section class="main-page__hits hits-block">
    <h2 class="block__title hits-block__title">Хиты продаж</h2>
    <div class="products-slider products-slider--hits">
      <div class="swiper-container products-slider__container">
        <div class="swiper-wrapper products-slider__wrapper">

          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--new">NEW</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--sale">SALE</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--new">NEW</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev products-slider__btn products-slider__btn--prev"></div>
      <div class="swiper-button-next products-slider__btn products-slider__btn--next"></div>
    </div>
  </section>

  <div class="main-page__banner">
    <img src="uploads/main-page/1.png"
         alt="">
  </div>

  <section class="main-page__new new-block">
    <h2 class="block__title new-block__title">Новинки</h2>
    <div class="products-slider products-slider--new">
      <div class="swiper-container products-slider__container">
        <div class="swiper-wrapper products-slider__wrapper">

          <div class="swiper-slide products-slider__slide">
            <div class="item-product">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--new">NEW</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--sale">SALE</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
          <div class="swiper-slide products-slider__slide">
            <div class="item-product ">
              <div class="item-product__stickers stickers">
                <div class="stickers__item item-sticker item-sticker--new">NEW</div>
              </div>
              <a href=""
                 class="item-product__image">
                <img src="uploads/products/1.png "
                     alt="">
              </a>
              <a href=""
                 class="item-product__title">Кровать двуспальная Лондон</a>
              <div class="item-product__prices">
                <div class="item-product__price item-product__price--old">20 368 ₽</div>
                <div class="item-product__price"><span>от</span> 10 368 ₽</div>
              </div>
              <div class="item-product__actions">
                <button type="button"
                        class="btn btn--fill btn--green item-product__add">
                  <svg width="18"
                       height="18">
                    <use xlink:href="img/spritemap.svg#sprite-button-basket"></use>
                  </svg>
                  В корзину
                </button>
              </div>
              <footer class="item-product__material-prices material-prices">
                <div class="material-prices__row">
                  <div class="material-prices__col material-prices__col--header">Материал</div>
                  <div class="material-prices__col material-prices__col--header">Цена</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-1.png"
                         alt=""
                         class="material-prices__icon">
                    Сосна
                  </div>
                  <div class="material-prices__col">10 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-2.png"
                         alt=""
                         class="material-prices__icon">
                    Берёза
                  </div>
                  <div class="material-prices__col">15 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-3.png"
                         alt=""
                         class="material-prices__icon">
                    Бук
                  </div>
                  <div class="material-prices__col">20 368 ₽</div>
                </div>
                <div class="material-prices__row">
                  <div class="material-prices__col">
                    <img src="img/catalog/wood-icon-4.png"
                         alt=""
                         class="material-prices__icon">
                    Дуб
                  </div>
                  <div class="material-prices__col">25 368 ₽</div>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev products-slider__btn products-slider__btn--prev"></div>
      <div class="swiper-button-next products-slider__btn products-slider__btn--next"></div>
    </div>
  </section>
  <section class="main-page__advantages advantages-block">
    <div class="advantages-block__inner">
      <div class="advantages-block__item item-advantage">
        <svg class="item-advantage__icon"
             width="156"
             height="89">
          <use xlink:href="img/spritemap.svg#sprite-advantage-1"></use>
        </svg>
        <div class="item-advantage__text">
          Ассортимент более<br>1000 наименований
        </div>
      </div>
      <div class="advantages-block__item item-advantage">
        <svg class="item-advantage__icon"
             width="90"
             height="89">
          <use xlink:href="img/spritemap.svg#sprite-advantage-2"></use>
        </svg>
        <div class="item-advantage__text">
          Мебель из массива безопасна <br> и имеет долгий срок службы
        </div>
      </div>
      <div class="advantages-block__item item-advantage">
        <svg class="item-advantage__icon"
             width="90"
             height="89">
          <use xlink:href="img/spritemap.svg#sprite-advantage-3"></use>
        </svg>
        <div class="item-advantage__text">
          Гарантия от 1 года, так как <br> уверены в качестве продукции
        </div>
      </div>
      <div class="advantages-block__item item-advantage">
        <svg class="item-advantage__icon"
             width="90"
             height="89">
          <use xlink:href="img/spritemap.svg#sprite-advantage-4"></use>
        </svg>
        <div class="item-advantage__text">
          Выбор цвета и размера под <br> Ваш вкус по таблице RAL
        </div>
      </div>
    </div>
  </section>


  <section class="main-page__about about-block">
    <div class="about-block__inner">
      <div class="about-block__img">
        <img src="img/pages/main/about.jpg"
             alt="">
      </div>
      <div class="about-block__info">
        <div class="about-block__title">Почему выбирают нас?</div>
        <div class="about-block__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis. Donec arcu turpis, pellentesque eu porta eget, fermentum sagittis eros. Praesent id quam nec eros mollis tristique eu cursus nulla. Suspendisse potenti. Vivamus tincidunt ligula ex, vel auctor turpis ornare quis. Sed imperdiet interdum posuere.
          </p>
          <p>

            Cras id diam ac mauris vulputate finibus ut a nibh. Aliquam facilisis mauris ut tincidunt gravida. Praesent volutpat eros at elit imperdiet cursus. Quisque ac rhoncus tortor. Maecenas pulvinar pellentesque ligula vel dapibus.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="main-page__reviews reviews-block">
    <h2 class="reviews-block__title block__title">Отзывы</h2>

    <div class="reviews-block__inner">
      <div class="swiper-container reviews-block__container">
        <div class="swiper-wrapper reviews-block__wrapper">

          <div class="swiper-slide reviews-block__slide">
            <div class="reviews-block__item item-review">
              <div class="item-review__header">
                <a href=""
                   class="item-review__product item-product-review">
                  <div class="item-product-review__image">
                    <img src="uploads/products/1.png "
                         alt="">
                  </div>
                  <div class="item-product-review__add">
                    <h3 class="item-product-review__title">Кровать двуспальная Лондон</h3>
                    <div class="item-product-review__prices">
                      <div class="item-product-review__price item-product-review__price--old">
                        20 368 ₽
                      </div>
                      <div class="item-product-review__price"><span>от</span> 10 368 ₽</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item-review__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis.
              </div>
              <div class="item-review__author">
                <svg width="16"
                     height="16">
                  <use xlink:href="img/spritemap.svg#sprite-author"></use>
                </svg>
                Алексей Н.
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-block__slide">
            <div class="reviews-block__item item-review">
              <div class="item-review__header">
                <a href=""
                   class="item-review__product item-product-review">
                  <div class="item-product-review__image">
                    <img src="uploads/products/1.png "
                         alt="">
                  </div>
                  <div class="item-product-review__add">
                    <h3 class="item-product-review__title">Кровать двуспальная Лондон</h3>
                    <div class="item-product-review__prices">
                      <div class="item-product-review__price item-product-review__price--old">
                        20 368 ₽
                      </div>
                      <div class="item-product-review__price"><span>от</span> 10 368 ₽</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item-review__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis.
              </div>
              <div class="item-review__author">
                <svg width="16"
                     height="16">
                  <use xlink:href="img/spritemap.svg#sprite-author"></use>
                </svg>
                Алексей Н.
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-block__slide">
            <div class="reviews-block__item item-review">
              <div class="item-review__header">
                <a href=""
                   class="item-review__product item-product-review">
                  <div class="item-product-review__image">
                    <img src="uploads/products/1.png "
                         alt="">
                  </div>
                  <div class="item-product-review__add">
                    <h3 class="item-product-review__title">Кровать двуспальная Лондон</h3>
                    <div class="item-product-review__prices">
                      <div class="item-product-review__price item-product-review__price--old">
                        20 368 ₽
                      </div>
                      <div class="item-product-review__price"><span>от</span> 10 368 ₽</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item-review__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis.
              </div>
              <div class="item-review__author">
                <svg width="16"
                     height="16">
                  <use xlink:href="img/spritemap.svg#sprite-author"></use>
                </svg>
                Алексей Н.
              </div>
            </div>
          </div>
          <div class="swiper-slide reviews-block__slide">
            <div class="reviews-block__item item-review">
              <div class="item-review__header">
                <a href=""
                   class="item-review__product item-product-review">
                  <div class="item-product-review__image">
                    <img src="uploads/products/1.png "
                         alt="">
                  </div>
                  <div class="item-product-review__add">
                    <h3 class="item-product-review__title">Кровать двуспальная Лондон</h3>
                    <div class="item-product-review__prices">
                      <div class="item-product-review__price item-product-review__price--old">
                        20 368 ₽
                      </div>
                      <div class="item-product-review__price"><span>от</span> 10 368 ₽</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item-review__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis nisl euismod euismod pharetra. Duis molestie egestas luctus. Donec nec efficitur quam. Morbi pellentesque euismod nisi sed laoreet. Nulla ac pulvinar lacus, id dignissim arcu. Integer aliquet arcu a dignissim mollis.
              </div>
              <div class="item-review__author">
                <svg width="16"
                     height="16">
                  <use xlink:href="img/spritemap.svg#sprite-author"></use>
                </svg>
                Алексей Н.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev reviews-block__btn reviews-block__btn--prev"></div>
      <div class="swiper-button-next reviews-block__btn reviews-block__btn--next"></div>
    </div>


    <a href=""
       class="reviews-block__more">
      <svg width="16"
           height="16">
        <use xlink:href="img/spritemap.svg#sprite-review"></use>
      </svg>
      Отзывы ></a>
  </section>


  <section class="main-page__works works-block">
    <h2 class="reviews-block__title block__title">Наши работы</h2>
    <a href=""
       class="works-block__more">
      <svg width="20"
           height="20">
        <use xlink:href="img/spritemap.svg#sprite-works"></use>
      </svg>
      Все работы ></a>
    <div class="works-block__inner">
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/1.jpg"
             alt="">
      </a>
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/2.jpg"
             alt="">
      </a>
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/3.jpg"
             alt="">
      </a>
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/4.jpg"
             alt="">
      </a>
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/5.jpg"
             alt="">
      </a>
      <a href=""
         class="works-block__item">
        <img src="uploads/main-page/works/6.jpg"
             alt="">
      </a>
    </div>
  </section>


  <section class="main-page__questions-form questions-form-block">
    <div class="questions-form-block__inner">
      <div class="questions-form-block__info">
        <div class="questions-form-block__title">
          Остались вопросы?
        </div>
        <div class="questions-form-block__text">
          Воспользуйтесь формой заказа обратного звонка
          или задайте вопрос в чате нашему специалисту. Мы будем рады вам помочь!
        </div>
      </div>
      <div class="questions-form-block__form questions-form">
        <div class="questions-form__inner">
          <input type="text"
                 placeholder="Ваш номер телефона"
                 class="questions-form__field">
          <button type="button"
                  class="questions-form__btn">Позвоните мне!
          </button>
        </div>
        <div class="questions-form__agree">
          Здесь согласие))) Взять из форм
        </div>
      </div>
    </div>
  </section>


</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
