<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container__inner">

  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>


  <div class="page-content__product product">
    <div class="product__inner">

      <div class="product__images images-product-wrapper">
        <div class="images-product">
          <div class="swiper-container images-product__container">
            <div class="swiper-wrapper images-product__wrapper">
              <a href="uploads/product-detail/1.jpg"
                 class="swiper-slide images-product__slide"
                 data-fancybox>
                <img src="uploads/product/1.png"
                     alt="">
              </a>
              <a href="uploads/product-detail/1.jpg"
                 class="swiper-slide images-product__slide"
                 data-fancybox>
                <img src="uploads/product/1.png"
                     alt="">
              </a>
              <a href="uploads/product-detail/1.jpg"
                 class="swiper-slide images-product__slide"
                 data-fancybox>
                <img src="uploads/product/1.png "
                     alt="">
              </a>
              <a href="uploads/product-detail/1.jpg"
                 class="swiper-slide images-product__slide"
                 data-fancybox>
                <img src="uploads/product/1.png "
                     alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="images-product-thumbs">
          <div class="swiper-container images-product-thumbs__container">
            <div class="swiper-wrapper images-product-thumbs__wrapper">

              <div class="swiper-slide images-product-thumbs__slide">
                <img src="uploads/product/1.png"
                     alt="">
              </div>
              <div class="swiper-slide images-product-thumbs__slide">
                <img src="uploads/product/1.png"
                     alt="">
              </div>
              <div class="swiper-slide images-product-thumbs__slide">
                <img src="uploads/product/1.png"
                     alt="">
              </div>


            </div>
          </div>
          <button class="swiper-button-prev images-product-thumbs__btn btn--clear images-product-thumbs__btn--prev">
            <svg
              class=""
              width="19"
              height="11">
              <use xlink:href="img/spritemap.svg#sprite-swiper-btn-next"></use>
            </svg>
          </button>
          <button class="swiper-button-next images-product-thumbs__btn btn--clear images-product-thumbs__btn--next">
            <svg
              class=""
              width="19"
              height="11">
              <use xlink:href="img/spritemap.svg#sprite-swiper-btn-next"></use>
            </svg>
          </button>
        </div>

      </div>


      <div class="product__info info-product">
        <div class="info-product__header">

          <h1 class="page-content__title info-product__title">Кровать двуспальная Лондон</h1>
          <button class="info-product__add-to-favorite">
            <svg width="28"
                 height="28">
              <use xlink:href="img/spritemap.svg#sprite-product-favorite"></use>
            </svg>
          </button>
        </div>

        <div class="info-product__prices prices-product">
          <div class="prices-product__price price-product">
            <div class="price-product__price">
              10 368 ₽
            </div>
            <a href=""
               class="price-product__save-price">Сохранить цену</a>
          </div>
          <div class="prices-product__price price-product price-product--old">
            <div class="price-product__discount-title">Скидка -10 000 ₽</div>
            <div class="price-product__price price-product__price--old">
              20 368 ₽
            </div>

          </div>
        </div>

        <div class="info-product__props props-product">
          <div class="props-product__item">
            <div class="props-product__title">Размеры спального места:</div>
            <div class="props-product__field">
              <div class="props-product__icon">
                <img src=""
                     alt="">
              </div>
              <div class="props-product__name">90x100</div>
              <div class="props-product__price">7 170 руб.</div>
            </div>
          </div>
          <div class="props-product__item">
            <div class="props-product__title">Основание:</div>
            <div class="props-product__field">
              <div class="props-product__icon">
                <img src=""
                     alt="">
              </div>
              <div class="props-product__name">Базовое</div>
              <div class="props-product__price">0 руб.</div>
            </div>
          </div>
          <div class="props-product__item">
            <div class="props-product__title">Выберите цвет эко-кожи:</div>
            <div class="props-product__field">
              <div class="props-product__icon">
                <img src=""
                     alt="">
              </div>
              <div class="props-product__name">Не выбрано</div>
              <div class="props-product__price">0 руб.</div>
            </div>
          </div>

        </div>


        <div class="info-product__actions">
          <button class="info-product__add-to-cart btn btn--fill btn--green">В корзину
          </button>
          <button class="info-product__one-click btn btn--fill btn--green">Купить в 1 клик
          </button>
          <button class="info-product__own-sizes btn btn--fill btn--green">Заказать со своими размерами
          </button>
        </div>
      </div>

    </div>

  </div>

  <div class="product__footer">
    табы Ёпта
  </div>
  <div class="product__order-delivery order-delivery-product">
    <div class="order-delivery-product__title">
      Условия заказа и доставки
    </div>
    <div class="order-delivery-product__inner">
      <div class="order-delivery-product__item item-order-delivery">
        <div class="item-order-delivery__image">
          <img src="img/order-delivery/1.png"
               alt="">
        </div>
        <div class="item-order-delivery__title">
          Оставьте заявку на понравившуюся мебель или воспользуйтесь корзиной
        </div>
      </div>
      <div class="order-delivery-product__item item-order-delivery">
        <div class="item-order-delivery__image">
          <img src="img/order-delivery/2.png"
               alt="">
        </div>
        <div class="item-order-delivery__title">
          Наш менеджер перезвонит Вам в течение 15 минут и подтвердит заказ
        </div>
      </div>
      <div class="order-delivery-product__item item-order-delivery">
        <div class="item-order-delivery__image">
          <img src="img/order-delivery/3.png"
               alt="">
        </div>
        <div class="item-order-delivery__title">
          Производство мебели <br> (до 10 рабочих дней)
        </div>
      </div>
      <div class="order-delivery-product__item item-order-delivery">
        <div class="item-order-delivery__image">
          <img src="img/order-delivery/4.png"
               alt="">
        </div>
        <div class="item-order-delivery__title">
          Доставка и оплата <br> при получении
        </div>
      </div>
    </div>
  </div>


</div>


<%= _.template(require('./../includes/footer.html'). default)(data) %>
