
html {
  font-size   : $mainFontSize;
  line-height : $mainLineHeight;
  overflow-x  : hidden;
  width       : 100%;

  max-width   : 100vw;
  height      : 100%;
  color       : #000;

}

body {
  font-family             : $mainFontFamily;
  font-size               : $mainFontSize;
  font-weight             : 400;
  line-height             : $mainLineHeight;
  overflow-x              : hidden;
  width                   : 100%;
  max-width               : 100vw;
  margin                  : 0;
  padding                 : 0;
  color                   : #000;
  background-color        : #fff;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

ul,
ol,
li,
p {
  margin-top    : 1em;
  margin-bottom : 1em;
}


button {
  cursor : pointer;
}

a {
  text-decoration          : underline;
  text-decoration-skip-ink : none;

  &:active,
  &:focus,
  &:hover {

  }
}


.container {
  position  : relative;
  flex      : 0 0 auto;
  width     : 100%;
  max-width : $contentWidth;
  margin    : 0 auto;
  padding   : 0 15px;


}


.page {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;

  &__header {
  }

  &__footer {
    margin-top : auto;
  }
}


.swiper-container {
  position     : relative;
  z-index      : 1;
  overflow     : hidden;
  margin-right : auto;
  margin-left  : auto;
  padding      : 0;
  list-style   : none;
}

.swiper-wrapper {
  position            : relative;
  z-index             : 1;
  display             : flex;
  box-sizing          : content-box;
  width               : 100%;
  height              : 100%;
  transition-property : -webkit-transform;
  transition-property : transform;
  transition-property : transform, -webkit-transform
}

.swiper-slide {
  position            : relative;
  flex-shrink         : 0;
  width               : 100%;
  height              : 100%;
  transition-property : -webkit-transform;
  transition-property : transform;
  transition-property : transform, -webkit-transform
}

.swiper-pagination {
  position        : absolute;
  bottom          : -32px;
  display         : flex;
  justify-content : center;
  width           : 100%;
  text-align      : center
}

.swiper-pagination-bullet {
  display        : inline-block;
  width          : 8px;
  height         : 8px;
  margin         : 0 9px;
  cursor         : pointer;
  vertical-align : bottom;
  border         : 1px solid #b3b3b3;
  border-radius  : 50%;
}

.swiper-pagination-bullet-active {
  border           : none;
  background-color : #000;
  box-shadow       : 0 0 0 2px #000;
}

.swiper-button-prev,
.swiper-button-next {
  position            : absolute;
  z-index             : 1;
  width               : 35px;
  height              : 36px;
  cursor              : pointer;
  background-color    : #00cc52;
  background-repeat   : no-repeat;
  background-position : center;

  &:active,
  &:focus,
  &:hover {
    background-color : #07c353;
  }
}

.swiper-button-prev {

  border-radius    : 5px 0 0 5px;
  background-image : url(../img/svg/slider-arrow-left.svg);
}

.swiper-button-next {

  border-radius    : 0 5px 5px 0;
  background-image : url(../img/svg/slider-arrow-right.svg);
}

.swiper-button-disabled {
  opacity : 0.5;
}

.block {
  // .block__title
  &__title {
    font-size   : 30px;
    font-weight : 800;
    line-height : 1.2333;
    position    : relative;
    left        : 50%;
    display     : inline-block;
    margin      : 35px auto;
    padding     : 0 10px;
    transform   : translateX(-50%);
    color       : #161616;

    &::before {
      content          : '';
      position         : absolute;
      z-index          : -1;
      top              : -2px;
      left             : 0;
      display          : block;
      width            : 50px;
      height           : 39px;
      background-color : #feb618;
    }


  }
}

// .page-content
.page-content {

  // .page-content--front-page
  &--front-page {
    background-image    : url(../img/pages/main/bg.png);
    background-repeat   : no-repeat;
    background-position : 0 360px;
  }

  // .page-content__title
  &__title {
    font-size   : 30px;
    font-weight : 800;
    line-height : 1.2133;
    color       : #161616;
    margin : 30px 0 40px;

    // .page-content__title--about
    &--about {
      text-align : center;
    }
  }
}
.has-sidebar{
  .page-content__title {
    margin-top : 0;
  }
}

.products-slider {
  position : relative;

  // .products-slider__container
  &__container {
    margin-bottom  : -190px;
    padding-bottom : 190px;
  }

  // .products-slider__wrapper
  &__wrapper {
  }

  // .products-slider__slide
  &__slide {
  }

  // .products-slider__btn
  &__btn {
    position : absolute;
    top      : 200px;

    // .products-slider__btn--prev
    &--prev {
      left : -50px;
    }

    // .products-slider__btn--next
    &--next {
      right : -50px;
    }
  }
}

.questions-form-block {
  background-color    : #00cc52;
  background-image    : url(../img/svg/questions-form.svg);
  background-repeat   : no-repeat;
  background-position : right bottom;

  // .questions-form-block--wide
  &--wide {
    width       : 100vw;
    margin-left : calc((100vw - #{$contentWidth} + 30px) / -2);
  }


  // .questions-form-block__inner
  &__inner {
    display     : flex;
    align-items : center;
    max-width   : $contentWidth;
    margin      : 0 auto;
    padding     : 35px 0;

  }

  // .questions-form-block__info
  &__info {
    max-width    : 400px;
    margin-right : 150px;
  }

  // .questions-form-block__title
  &__title {
    font-size   : 30px;
    font-weight : bold;
    line-height : 1.2333;
    color       : #fff;
  }

  // .questions-form-block__text
  &__text {
    font-family : 'Lato', sans-serif;
    font-size   : 16px;
    color       : rgba(255, 255, 255, 0.95);


  }

  // .questions-form-block__form
  &__form {
  }
}

.has-sidebar{
  display : flex;
}
